/*Popup content container */
#popup-content{
	background-color: #fff;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;	
	color:#63CBE4;
	display:none;
	max-width:600px;
	position:fixed;
	width:27%;
	height: 35%;
	z-index:1002;
}
/*Popup content heading */
#popup-content h2{
	font-size:1.2em;
	font-weight:bold;
	padding: 10px;
	border-radius:15px;	
	color:#63CBE4;
}
/*Popup close button positioning */
#popup-content > div{text-align:right;
} 
#overlay-bg{
	background-color:#fff;
	/*background-color:rgba(0,0,0,0.6); */ /* Not compatible with IE 7 IE 8 */
	display:none;
	height:100%;
	left:0;
	margin:auto;
	opacity:0.6; /* Not compatible with IE 7. Limited IE 8:  http://caniuse.com/#search=opacity */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
	filter: alpha(opacity=50); /* IE 7 */	
	position:fixed; 
	top:0;

 	z-index:1001;
  }
#result {
	width: 60%;
	padding: 5px;
	border: 1px solid;
	text-align: center;
}